= simple_form_for reporte, html: { class: "reporte form" } do |f| 
  - if reporte.errors.any? 
    .error-message
      = reporte.errors.full_messages.to_sentence.capitalize 
  .container
    %br
    %p Nombre
    = f.input :nombre, input_html: { autofocus: true } 
    %br
    %p Teléfono
    = f.input :fono
    %br
    %p Contenido
    = f.input :contenido
    %br
    .btn.btn--secondary=f.submit 
