<div id="<%= dom_id reporte %>" class="scaffold_record">
  <p>
    <strong>Nombre:</strong>
    <%= reporte.nombre %>
  </p>

  <p>
    Publicado en <%= time_tag reporte.created_at %>
  </p>

  <p>
    <strong><%= pluralize reporte.comentarios.count, "comentarios" %></strong>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= reporte.contenido %>
  </p>

  <p>
    <%= link_to "Mostrar este reporte", reporte %>
  </p>
</div>
