.scaffold_record{ :id => dom_id( reporte)}
  %p
    %strong Nombre:
    = reporte.nombre 
    %strong Fono:
    = reporte.fono
    %strong Confirmado:
    = reporte.confirmado

  %p
    Publicado en #{time_tag( reporte.created_at)}

  %p
    %strong= pluralize reporte.comentarios.count, "comentarios"

  %p
    %strong Contenido:
    = reporte.contenido 

  %p
    = link_to "Ver este reporte", reporte 
