-#tiene que haber un turbo_frame_tag con un id del tipo reporte_id eso lo hace dom_id
-#Si cico en edit_reporte_path
-#en este turbo_frame_tag se reemplazará todo por la ventanda de edición
-#eso es lo que queremos
-#por eso en edit.html.haml
-#también debe haber un turbo_frame_tag dom_id(reporte) do
= turbo_frame_tag dom_id(reporte) do
  .scaffold_record{ :id => dom_id( reporte)}
    %p
      %strong Id:
      = reporte.id
      %strong Nombre:
      = reporte.nombre 
      %strong Fono:
      = reporte.fono
      %strong Confirmado:
      = reporte.confirmado

    %p
      Publicado en #{time_tag( reporte.created_at)}

    %p
      %strong= pluralize reporte.comentarios.count, "comentarios"

    %p
      %strong Contenido:
      = reporte.contenido 

    %p
      = link_to "Ver", reporte_path( reporte ), data: { turbo_frame: "_top" }, :method => :get
      = button_to "Borrar", reporte_path( reporte ),
        :method => :delete,   
        data: { turbo_confirm: "¿Está seguro?" }

      = link_to "Editar", edit_reporte_path( reporte ), :method => :get

