<!DOCTYPE html>
%html
  %head
    %title>Electricista a Domicilio Providencia
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1"}
    = csrf_meta_tags 
    = csp_meta_tag 

    = stylesheet_link_tag "application", "data-turbo-track": "reload" 
    = stylesheet_link_tag "reportes", "data-turbo-track": "reload"
    = javascript_importmap_tags 
    %script{ :href => "https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4" }
    -#no se bien en mi celular. TAmpoco el sitio simplecss.org se ve bien
    -#    %link{ :rel => "stylesheet", :href => "https://cdn.simplecss.org/simple.min.css"}

  %body

    = yield 
